<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-lg-1 my-5">
      <mat-card class="mat-elevation-z12">
        <mat-card-content>
          <h2 class="text-start">Bonjour! <br> Vous pouvez suivre votre demande depuis chez vous !</h2>
          
            <div class="d-flex">
              <i class="fa fa-user my-1  mx-1 fs-5" style="color:#A5BC13"></i>
              <h2 style="color:#A5BC13">Suivez votre demande</h2>
            </div>






        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

