<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card class="mat-elevation-z12">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
          <mat-tab label="Se connecter">
              <mat-card-content>
                <h5 class="text-center">Connectez vous à votre espace personnel</h5>
                <form action="">
                  <mat-form-field class="col-10">
                    <input
                      matInput
                      placeholder="Email"
                      required
                      name="email"
                      ngModel
                      #email="ngModel">
                      <mat-error *ngIf="email.invalid">Email is required</mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="col-10">
                    <input
                      matInput
                      placeholder="Mot de passe"
                      type="password"
                      required
                      minlength="6"
                      name="password"
                      ngModel
                      #password="ngModel">
                      <mat-error
                        *ngIf="password.errors && password.errors['required']">
                        Le mot de passe est obligatoire
                      </mat-error>
                      <mat-error
                        *ngIf="password.errors && password.errors['minlength']">
                        Le mot de passe doit contenir au moins 6 caractères.
                      </mat-error>
                    <mat-icon matSuffix>lock</mat-icon>
                  </mat-form-field>
                  <mat-checkbox class="col-10">Sauvegarder mes informations</mat-checkbox>
                  <button
                    mat-raised-button
                    class="login-button bg-success text-light">
                    Se connecter
                  </button>

                  <button
                    mat-raised-button
                    class="login-button">
                    Se connecter avec Google
                  </button>
                </form>
              </mat-card-content>
          </mat-tab>
          <mat-tab label="S'inscrire">
            <mat-card-content>
              <h5 class="text-center">Créer votre compte pour faciliter vos <br> demandes et les rendre personnelles</h5>

              <form action="">
                <mat-form-field class="col-10">
                  <input
                    matInput
                    placeholder="Nom"
                    required
                    name="username"
                    ngModel
                    #username="ngModel">
                  <mat-icon matSuffix>perm_identity</mat-icon>
                  <mat-error
                    *ngIf="username.invalid">
                    Le nom d'utilisateur est obligatoire.
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-10">
                  <input
                    matInput
                    placeholder="Prénom"
                    required
                    name="pusername"
                    ngModel
                    #pusername="ngModel">
                  <mat-icon matSuffix>perm_identity</mat-icon>
                  <mat-error
                    *ngIf="pusername.invalid">
                    Le prénom obligatoire.
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-10">
                  <input
                    matInput
                    placeholder="Email"
                    required
                    name="email"
                    ngModel
                    #email="ngModel">
                    <mat-error *ngIf="email.invalid">L'adresse est obligatoire</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field class="col-10">
                  <input
                    matInput
                    placeholder="Mot de passe"
                    type="password"
                    required
                    minlength="6"
                    name="password"
                    ngModel
                    #password="ngModel">
                    <mat-error
                      *ngIf="password.errors && password.errors['required']">
                      Le mot de passe est obligatoire
                    </mat-error>
                    <mat-error
                      *ngIf="password.errors && password.errors['minlength']">
                      Le mot de passe doit contenir au moins 6 caractères.
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>

                </mat-form-field>
                <mat-form-field class="col-10">
                    <input
                    matInput
                    placeholder="Confirmer le mot de passe"
                    type="password"
                    required
                    minlength="6"
                    name="repassword"
                    ngModel
                    #repassword="ngModel">
                    <mat-error
                      *ngIf="repassword.errors && repassword.errors['required']">
                      Re-Enter Password is required
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <h5 class="text-center">En cliquant sur Inscription, vous acceptez nos <br>conditions générales et notre politique de confidentialité.</h5>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button bg-success text-light">
                  Créer mon compte
                </button>
              </form>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
